body { 
    background-color: #ebebeb;
}

.paper {
    width: 80%;
    height: 1000px;
    padding: 10px 30px;
    margin: 50px auto;
    background-color: #ffffff;
}

.centered-text {
    text-align: center;
}
